@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

::selection {
  @apply bg-primary-500;
  @apply text-white;
}

body {
  @apply font-sans;
  @apply bg-light-50;
  @apply text-dark-500;
}

span {
  line-height: 1.25 !important;
}

html {
  font-size: 16px;
}

.page-enter-active,
.page-leave-active {
  @apply duration-300 ease-linear;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}
