@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/public/fonts/lato-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/lato-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/lato-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/lato-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Fallback";
  src: local("Tahoma");
}

::selection {
  @apply bg-primary-500;
  @apply text-white;
}

input::placeholder {
  @apply text-dark-32%;
}

body {
  @apply font-sans;
  @apply bg-light-50;
  @apply text-dark-500;
}

span {
  line-height: 1.25 !important;
}

html {
  font-size: 16px;
}

// Page and default fade-in transitions
.page-enter-active,
.page-leave-active,
.v-enter-active,
.v-leave-active {
  @apply duration-200 ease-linear;
}

.page-enter-from,
.page-leave-to,
.v-enter-from,
.v-leave-to {
  @apply opacity-0;
}
